@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

body.dark {
  background-color: #6b6b6b;
}

.header {
  padding: 49px 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.theme-toggle {
  background-color: #b2c6d8;
  border-radius: 50px;
  width: 90px;
  height: 38px;
  cursor: pointer;
  padding: 5px 7px;
  transition: background-color 250ms ease-in-out;
}
.theme-toggle.dark {
  background-color: #fff;
}
.theme-toggle.dark .theme-toggle__circle-icon--dark {
  display: block;
}
.theme-toggle.dark .theme-toggle__circle-icon--light {
  display: none;
}
.theme-toggle.dark .theme-toggle__circle {
  transform: translateX(0);
  background-color: #b2c6d8;
}
.theme-toggle__circle {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #fff;
  padding: 4px;
  transform: translateX(48px);
  transition: transform 250ms ease-in-out, background-color 250ms ease-in-out;
}
.theme-toggle__circle-icon {
  width: 20px;
  height: 20px;
  fill: #000;
}
.theme-toggle__circle-icon--dark {
  display: none;
}

.menu {
  border-radius: 49px;
  background: rgba(0, 65, 125, 0.3);
  width: 450px;
  padding: 20px 15px;
}
.menu-filter {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  width: 420px;
  height: 60px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding-left: 11px;
}
.menu-filter__list {
  width: 92px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #686868;
  background: #fff;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.9s ease;
}
.menu-filter__list:hover {
  background: #04aa6d;
  color: #fff;
}
.menu-cards {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.menu-cards-card {
  border-radius: 18px;
  background: #fff;
  box-shadow: -4px 6px 14.7px 1px rgba(0, 0, 0, 0.25);
  width: 202px;
  height: 227px;
  padding: 15px 10px;
}
.menu-cards-card__img {
  width: 147px;
  height: 128px;
  flex-shrink: 0;
  aspect-ratio: 147/128;
}
.menu-cards-card__title {
  color: #000;
  font-family: Noto Sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.menu-cards-card__category {
  color: #5b5b5b;
  font-family: Noto Sans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}