@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: getFont('Montserrat');
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  overflow: hidden;
}

body.dark {
  background-color: #6b6b6b;

  .legend__info {
    background-color: getDarkColors('background-legent-dark');
  }

  .room__playground {
    border-color: #6b6b6b;
  }

  .show {
    background-color: getDarkColors('background-legent-dark');

    &__svg {
      fill: getDarkColors('textcolor-legent');
    }
  }

  .menu {
    background-color: rgba(82, 82, 82, 0.74);
  }
}

.main-container {
  margin: 0 auto;
  min-width: 320px;
  width: 100%;
}

@media (min-width: 768px) {
  .main-container {
    padding: 0 15px;
  }
}
