@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: getFont('Montserrat');
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
}

body.dark {
  background-color: #6b6b6b;

  .legend__info {
    background-color: getDarkColors('background-legent-dark');
  }
  .show {
    background-color: getDarkColors('background-legent-dark');
    &__svg {
      fill: getDarkColors('textcolor-legent');
    }
  }
}
