<header class="header">
  <div class="settings">
    <svg class="settings__icon">
      <use href="/public/icons/symbol-defs.svg#settings-icon"></use>
    </svg>
  </div>

  <div class="theme-toggle">
    <div class="theme-toggle__circle">
      <svg class="theme-toggle__circle-icon theme-toggle__circle-icon--light">
        <use href="./images/icons/symbol-defs.svg#icon-light"></use>
      </svg>
      <svg class="theme-toggle__circle-icon theme-toggle__circle-icon--dark">
        <use href="/public/images/icons/symbol-defs.svg#icon-dark"></use>
      </svg>
    </div>
  </div>
</header>
