<div class="legend">
  <div class="legend__wrapper">
    <button class="close-legend">
      <svg class="close-legend__svg">
        <use href="/public/images/icons/symbol-defs.svg#legendary-eye"></use>
      </svg>
    </button>
    <div class="legend__container">
      <button class="legend__show show">
        <svg class="show__svg">
          <use
            href="/public/images/icons/symbol-defs.svg#icon-array-legend"
          ></use>
        </svg>
      </button>
      <ul class="legend__info">
        <li class="legend__item">
          <span class="legend__text legend__text--button">Пкм</span>
          <span>-</span>
          <span class="legend__text">Повернути елемент вправо</span>
        </li>
        <li class="legend__item">
          <span class="legend__text legend__text--button">Пкм</span>
          <span class="legend__text">+</span>
          <span class="legend__text legend__text--button">Рух</span>
          <span>-</span>
          <span class="legend__text">Переміщення кімнати</span>
        </li>
        <li class="legend__item">
          <span class="legend__text legend__text--button">Лкм</span>
          <span>-</span>
          <span class="legend__text">Вибрати елемент</span>
        </li>
        <li class="legend__item">
          <span class="legend__text legend__text--button">Скролл</span>
          <span>-</span>
          <span class="legend__text">Відближення та Приближення кімнати</span>
        </li>
      </ul>
    </div>
  </div>
</div>
