<div class="legend">
  <div class="legend__container">
    <ul class="legend__list">
      <li class="legend__li">
        <span class="legend__info info-button">Пкм</span>-
        <p class="legend__text">Повернути елемент вправо</p>
      </li>
      <li class="legend__li">
        <span class="legend__info info-button">Пкм</span>
        +
        <span class="legend__info info-button">Рух</span>-
        <p class="legend__text">Переміщення кімнати</p>
      </li>
      <li class="legend__li">
        <span class="legend__info info-button">Лкм</span>-
        <p class="legend__text">Вибрати елемент</p>
      </li>
      <li class="legend__li">
        <span class="legend__info info-button">Скролл</span>-
        <p class="legend__text">Відближення та Приближення кімнати</p>
      </li>
    </ul>
  </div>
</div>
