<aside class="menu">
<ul class="menu-filter">
<li class="menu-filter__list">Декорації</li>
<li class="menu-filter__list">Меблі</li>
<li class="menu-filter__list">Електроніка</li>
<li class="menu-filter__list">ін.</li>
</ul>

<section class="menu-cards">
<article class="menu-cards-card">
        <div class="menu-cards-card__img"></div>
        <h3 class="menu-cards-card__title">Назва</h3>
    <span class="menu-cards-card__category">Категорія: Якась</span>
</article>
<article class="menu-cards-card">
        <div class="menu-cards-card__img"></div>
        <!-- <img src="" alt="фото" class="menu-cards-card__img"> -->
    <h3 class="menu-cards-card__title">Назва</h3>
    <span class="menu-cards-card__category">Категорія: Якась</span>
</article>
<article class="menu-cards-card">
        <div class="menu-cards-card__img"></div>
        <!-- <img src="" alt="фото" class="menu-cards-card__img"> -->
    <h3 class="menu-cards-card__title">Назва</h3>
    <span class="menu-cards-card__category">Категорія: Якась</span>
</article>
<article class="menu-cards-card">
        <div class="menu-cards-card__img"></div>
        <!-- <img src="" alt="фото" class="menu-cards-card__img"> -->
    <h3 class="menu-cards-card__title">Назва</h3>
    <span class="menu-cards-card__category">Категорія: Якась</span>
</article>

</section>
</aside>